<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Servlet</servlet-name>
        <servlet-class>controlador.ServletEstudiante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletProfesor</servlet-name>
        <servlet-class>controlador.ServletProfesor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLista</servlet-name>
        <servlet-class>controlador.ServletLista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCusos</servlet-name>
        <servlet-class>controlador.ServletCusos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInscripciones</servlet-name>
        <servlet-class>controlador.ServletInscripciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPunto7</servlet-name>
        <servlet-class>controlador.ServletPunto7</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPunto1</servlet-name>
        <servlet-class>controlador.ServletPunto1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPunto2</servlet-name>
        <servlet-class>controlador.ServletPunto2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPunto3</servlet-name>
        <servlet-class>controlador.ServletPunto3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPunto6</servlet-name>
        <servlet-class>controlador.ServletPunto6</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPunto9</servlet-name>
        <servlet-class>controlador.ServletPunto9</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPunto8</servlet-name>
        <servlet-class>controlador.ServletPunto8</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPunto5</servlet-name>
        <servlet-class>controlador.ServletPunto5</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletIns</servlet-name>
        <servlet-class>controlador.ServletIns</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPunto4</servlet-name>
        <servlet-class>controlador.ServletPunto4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEliminar</servlet-name>
        <servlet-class>controlador.ServletEliminar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet</servlet-name>
        <url-pattern>/Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletProfesor</servlet-name>
        <url-pattern>/ServletProfesor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLista</servlet-name>
        <url-pattern>/ServletLista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCusos</servlet-name>
        <url-pattern>/ServletCusos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInscripciones</servlet-name>
        <url-pattern>/ServletInscripciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPunto7</servlet-name>
        <url-pattern>/ServletPunto7</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPunto1</servlet-name>
        <url-pattern>/ServletPunto1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPunto2</servlet-name>
        <url-pattern>/ServletPunto2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPunto3</servlet-name>
        <url-pattern>/ServletPunto3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPunto6</servlet-name>
        <url-pattern>/ServletPunto6</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPunto9</servlet-name>
        <url-pattern>/ServletPunto9</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPunto8</servlet-name>
        <url-pattern>/ServletPunto8</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPunto5</servlet-name>
        <url-pattern>/ServletPunto5</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletIns</servlet-name>
        <url-pattern>/ServletIns</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPunto4</servlet-name>
        <url-pattern>/ServletPunto4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEliminar</servlet-name>
        <url-pattern>/ServletEliminar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
